.about{
    font-family: sans-serif;
    background-color: #ffe4c782;
}
.about-h1{
    font-size: 20px;
    text-align: center;
    padding: 40px 0;
    font-family: sans-serif;
    opacity: 0;
}

.containe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    padding: 0 15px;
    opacity: 0;
    .bg-all{
        width: 100%;
        height: 60vh;
    }
    .bg-img1{
        background-image: url(../../public/img/pexels-cameron-casey-1722183.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh; 
        

       }
       .img:hover{
        filter: brightness(80%);
       }
    .bg-img2{
        background-image: url(../../public/img/pexels-eduardo-dutra-3044562.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
       

    }
    .bg-img3{
        background-image: url(../../public/img/pexels-leon-macapagal-2539658.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
       
    }
    .bg-img4{
        background-image: url(../../public/img/pexels-magda-ehlers-2547434.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;

    }
    .bg-img5{
        background-image: url(../../public/img/pexels-mihai-vlasceanu-1400249.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;

    }
    .bg-img6{
        background-image: url(../../public/img/pexels-naveen-annam-1578329.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
    }
    .bg-img7{
        background-image: url(../../public/img/pexels-ricardo-esquivel-2911261.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
    }
    .bg-img8{
        background-image: url(../../public/img/pexels-sebastian-estrada-2809608.jpg);
        background-size: cover;
        background-position: center center;
        height: 60vh;
    }
     a{
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
        ;
    }
}

.more{
    padding: 105px 20px;
   

    .more-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0;
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);

        .more1{
            font-weight: bold;
        }
        .more2{
            line-height: 20px;
        }
    }
}
